{% extends 'base.html' %}

{% block pagestyles %}

{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>ourPersonalities</h1>
        <!-- <p>Esta herramienta muestra las similitudes entre usuarios de Twitter a partir de su personalidad</p> -->
        <p>Esta herramienta identifica de manera automática tu personalidad y la de tus amigos (cuentas que sigues) en Twitter.
            Muestra las similitudes entre tu y tus amigos respecto a su personalidad.</p>
        <h3>Inicia ahora</h3>
        <a class="btn btn-primary btn-lg" href="{{ url_for('main.register') }}">Registrarse</a><a class="btn btn-lg" href="{{ url_for('main.login') }}">Iniciar sesión</a>
        <h5>Esta herramienta requiere ciertos datos, como tu correo, para poderte enviar los resultados de los análisis que realices.
            Por lo cual, es necesario registrarse para usar la herramienta.</h5>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <!-- <div class="thumbnail">
                <img src="" alt="...">
                <div class="caption">
                    <h3>Label</h3>
                    <p>Una descripción</p>
                </div>
            </div> -->
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
